<a href="https://colab.research.google.com/github/Amarjeet-1998/new/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

create a function in python

In [2]:
def demo(name, age):
  print(name, age)

  # call function
  demo("Ben", 25)

In [3]:
demo

2. create a function with variable length of arguments

In [4]:
def func1(*args):
  for i in args:
    print(i)

In [5]:
func1(20,40,60)
func1(80,100)

20
40
60
80
100

3. Return multiple values from a function

In [6]:
def calculation(a, b):
  addition = a+ b
  subtraction = a - b
  #return multiple values separated by comma
  return addition, subtraction

# get result in tuple format
res = calculation(40,10)
print(res)

(50, 30)

In [7]:
def calculation(a, b):
  return a + b, a - b
  # get result in tuple format
  # unpack tuple
add, sub = calculation(40, 10)
print(add, sub)

50 30

4. create a function with a default argument

In [8]:
def show_employee(name, salary=9000):
  print("Name:", name, "salary:", salary)
show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

5. create an inner function to calculate the addition in the following way

In [9]:
def outer_fun(a, b):
  square = a ** 2

  # inner function
  def addition(a, b):
    return a + b
  

  add = addition(a, b)
  return add + 5

result = outer_fun(5,10)
print(result)

20

6. create a recursive function

In [10]:
def addition(num):
  if num:
    #call same function by reducing number by 1
    return num + addition(num - 1)
  else:
    return 0


res = addition(10)
print(res)

55

7. Assign a different name to function and call it through the new name

In [11]:
def display_student(name, age):
  print(name, age)

display_student("Emma", 26)

showstudent = display_student
showstudent("Emma", 26)

Emma 26
Emma 26

8. Generate a python list of all the even numbers between 4 to 30

In [12]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

9. Find the largest item from a given list

In [13]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

1. create a string made of the first, middle and last character

In [14]:
str1 = 'James'
print("original string is", str1)

# get first character
res = str1[0]

# get string size
l = len(str1)

# Get middle index number
mi = int(l/2)

# Get middle character and add it to result
res = res + str1[l - 1]

print("New String:", res)

original string is James
New String: Js

1. Create a string made of the middle three characters

In [15]:
def get_middle_three_chars(str1):
  print("original string is ", str1)

# first get middle index number
  mi = int(len(str1) / 2)

# use string slicing to get result characters
  res = str1[mi - 1:mi + 2]
  print("Middle three chars are:", res)

get_middle_three_chars("JhoonDipPeta")
get_middle_three_chars("JaSonAy")

original string is  JhoonDipPeta
Middle three chars are: Dip
original string is  JaSonAy
Middle three chars are: Son

2. Append new string in the middle of a given string

In [16]:
def append_middle(s1, s2):
  print("Original strings are", s1, s2)

  #middle index number of s1
  mi = int(len(s1)/ 2)

  # get character from 0 to the middle index number from s1
  x = s1[:mi:]
  # concatenate s2 to it
  x = x + s2
  # append remaining character from s1
  x = x + s1[mi:]

  print("After appending new string in middle:", x)

append_middle("Adult", "Kelly")

Original strings are Adult Kelly
After appending new string in middle: AdKellyult

3. create a new string made of the first, middle and last characters of each input string

In [17]:
def mix_string(s1, s2):
    # get first character from both string
    first_char = s1[0] + s2[0]

    # get middle character from both string
    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]

    # get last character from both string
    last_char = s1[len(s1) - 1] + s2[len(s2) - 1]

    # add all
    res = first_char + middle_char + last_char
    print("Mix String is ", res)

s1 = "America"
s2 = "Japan"
mix_string(s1, s2)

Mix String is  AJrpan

1. create a list by picking an odd- index items from the first list and even index items from the second

In [18]:
list1 = [3,6,5,67,23,45,35,67]
list2 = [4,7,3,6,4,63,53,53,53,64]
res = list()

odd_elements = list1[1::2]
print("Element at odd -index position from list one")
print(odd_elements)

even_elements = list2[0::2]
print("Element at even- index positions from list two")
print(even_elements)

print("printing final third list")
res.extend(odd_elements)
res.extend(even_elements)
print(res)

Element at odd -index position from list one
[6, 67, 45, 67]
Element at even- index positions from list two
[4, 3, 4, 53, 53]
printing final third list
[6, 67, 45, 67, 4, 3, 4, 53, 53]

2. Remove and add items in a list

In [19]:
sample_list = [54, 44, 27, 79, 91, 41]

print("original list", sample_list)
element = sample_list.pop(4)
print("list After removing element at index 4", sample_list)

sample_list.insert(2, element)
print("list after Adding element at index 2 ", sample_list)

sample_list.append(element)
print("list after Adding element at list", sample_list)

original list [54, 44, 27, 79, 91, 41]
list After removing element at index 4 [54, 44, 27, 79, 41]
list after Adding element at index 2  [54, 44, 91, 27, 79, 41]
list after Adding element at list [54, 44, 91, 27, 79, 41, 91]

3. Slice list into 3 equal chunks and reverse each chunk

In [20]:
sample_list = [11,45, 8, 23, 14, 12,78,45,89]
print("original list", sample_list)

length = len(sample_list)
chunk_size = int(length/3)
start = 0
end = chunk_size

#run loop 3 times
for i in range(3):
  #get indexes
  indexes = slice(start, end)


  #get chunk

  list_chunk = sample_list[indexes]
  print("chunk", i, list_chunk)

  #reverse chunk
  print("After reversing it", list(reversed(list_chunk)))

  start = end
  end += chunk_size

original list [11, 45, 8, 23, 14, 12, 78, 45, 89]
chunk 0 [11, 45, 8]
After reversing it [8, 45, 11]
chunk 1 [23, 14, 12]
After reversing it [12, 14, 23]
chunk 2 [78, 45, 89]
After reversing it [89, 45, 78]

4. count the occurence of each element from a list

In [23]:
sample_list = [11,45,8,11,23,45,78,99,57,45]
print("Original list", sample_list)

count_dict = dict()
for item in sample_list:
  if item in count_dict:
    count_dict[item] += 1
  else:
    count_dict[item] = 1

print("printing count of each item", count_dict)

Original list [11, 45, 8, 11, 23, 45, 78, 99, 57, 45]
printing count of each item {11: 2, 45: 3, 8: 1, 23: 1, 78: 1, 99: 1, 57: 1}

5. create a python set such that it shows the element from both lists in a pair

In [24]:
first_list = [2,3,4,5,6,78,7,8,6]
print("First list", first_list)

second_list = [4,9,16,25,36,49,64]
print("second list", second_list)

result = zip(first_list, second_list)
result_set = set(result)
print(result_set)

First list [2, 3, 4, 5, 6, 78, 7, 8, 6]
second list [4, 9, 16, 25, 36, 49, 64]
{(6, 36), (78, 49), (7, 64), (4, 16), (5, 25), (3, 9), (2, 4)}

6. Find the intersection(common) of two sets and remove those elements from the first set

In [25]:
first_set = {23,42,34,65,57,83,29,33,23,45,664,67,46,34}
second_set = {57,83,24,233,3,4,34,23,34,56,68,35,23,42,46,34,46,34,57,87}

print("first set", first_set)
print("second set", second_set)

intersection = first_set.intersection(second_set)
print("intersection is", intersection)
for item in intersection:
  first_set.remove(item)

print("First set after removing common element", first_set)

first set {65, 34, 33, 67, 42, 45, 46, 83, 23, 664, 57, 29}
second set {34, 3, 4, 68, 35, 233, 42, 46, 83, 87, 23, 24, 57, 56}
intersection is {34, 42, 46, 83, 23, 57}
First set after removing common element {65, 33, 67, 45, 664, 29}

7. checks if one set is a subset or superset of another set. if found, delete all elements from the set.

In [26]:
first_set = {57, 83, 29}
second_set = {57, 83, 67, 73, 43, 48}

print("First set", first_set)
print("second set", second_set)

print("first set is subset of second set", first_set.issubset(second_set))
print("Second set is subset of First set - ", second_set.issubset(first_set))

print("First set is Super set of second set - ", first_set.issuperset(second_set))
print("Second set is Super set of First set - ", second_set.issuperset(first_set))

if first_set.issubset(second_set):
  first_set.clear()

if second_set.issubset(first_set):
  second_set.clear()

print("first set", first_set)
print("second set", second_set)

First set {57, 83, 29}
second set {67, 73, 43, 48, 83, 57}
first set is subset of second set False
Second set is subset of First set -  False
First set is Super set of second set -  False
Second set is Super set of First set -  False
first set {57, 83, 29}
second set {67, 73, 43, 48, 83, 57}

Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [27]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}

print("List:", roll_number)
print("Dictionary:", sample_dict)

# create new list
roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print("after removing unwanted elements from list:", roll_number)

List: [47, 64, 69, 37, 76, 83, 95, 97]
Dictionary: {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}
after removing unwanted elements from list: [47, 69, 76, 97]

Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

In [28]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53,
         'july': 54, 'Aug': 44, 'Sept': 54}

print("Dictionary's values - ", speed.values())

speed_list = list()

# iterate dict values
for val in speed.values():
    # check if value not present in a list
    if val not in speed_list:
        speed_list.append(val)
print("unique list", speed_list)

Dictionary's values -  dict_values([47, 52, 47, 44, 52, 53, 54, 44, 54])
unique list [47, 52, 44, 53, 54]

Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

In [29]:
sample_list = [87, 52, 44, 53, 54, 87, 52, 53]

print("Original list", sample_list)

sample_list = list(set(sample_list))
print("unique list", sample_list)

t = tuple(sample_list)
print("tuple ", t)

print("Minimum number is: ", min(t))
print("Maximum number is: ", max(t))

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87